<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<title>troja-lunch</title>
</head>


<body class="body">
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <h1>troja-lunch</h1>
        </div>
        <div class="col align-bottom">
          <p class="text-end"><b>{{ date.strftime('%A %d %B %Y') }}</b></p>
        </div>
      </div>
    </div>


    <!-- <h1>troja-lunch</h1>
    <p class="text-end"><b>{{ date }}</b></p> -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#menza-pane" type="button" role="tab">🍝 Menza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#bufet-pane" type="button" role="tab">🌭 Bufet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#castle-pane" type="button" role="tab">🏰 Castle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#dotd-pane" type="button" role="tab">🍲 Dish of the day</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#about-pane" type="button" role="tab">💡 About</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      {% for place in overview %}
      <div id="{{ place.tab_id }}-pane" class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" role="tabpanel" tabindex="0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Soup(s)</b></li>
              {% for x in place.soups %}
              <li class="list-group-item">{{ x.name }}<br><small><i>{{ x.name_en }}</i></small></li>
              {% endfor %}
          </ul>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Dishes</b></li>
              {% for x in place.dishes %}
              <li class="list-group-item">{{ x.name }}<br><small><i>{{ x.name_en }}</i></small></li>
              {% endfor %}
              <li class="list-group-item"><p class="text-end small"><a href="{{ place.url }}">Source</a></p></li>
          </ul>
          <!-- <ul class="list-group list-group-flush">
            
         </ul> -->
      </div>
      {% endfor %}


      <div id="dotd-pane" class="tab-pane fade" role="tabpanel" tabindex="0">
        <div class="dotdbox justify-content-center">

          <p><b>{{ dotd.dish }}</b> at <b>{{ dotd.place }}</b></p>
          <img src="http://ufallab.ms.mff.cuni.cz/~kasner/cfm/{{ date.strftime('%Y-%m-%d') }}.png" class="img-fluid" style="max-width: 80%">
        </div>
      </div>

      <div id="about-pane" class="tab-pane fade" role="tabpanel" tabindex="0">
        <div class="infobox">
        <p>The "dish of the day" image is generated using <a href="https://github.com/CompVis/stable-diffusion">Stable Diffusion</a>, dish names are translated using <a href="https://lindat.mff.cuni.cz/services/translation/docs">CUBBITT API</a>.</p>
        <p>The app is in beta version, please report any bugs on Github.</p>
          <!-- <p>If some data is outdated or missing, you can try to use this link for a <a href="{{ url_for('test_force_reload') }}">force reload</a> (note that it may take a while).</p> -->
        <p>Github: <a href="https://github.com/kasnerz/troja-lunch">https://github.com/kasnerz/troja-lunch</a></p>
        <p>
          © 2022 <a href="https://ufal.mff.cuni.cz/zdenek-kasner/">Zdeněk Kasner</a>, ÚFAL MFF CUNI.
        </p>
        <p><i>The author provides no guarantees about the accuracy of translated names, the visual appeal of generated images, and the quality of food in Menza Troja.</i></p>
      </div>
      </div>
    </div>

    <hr>
    <div id="footnote">
        <p><b>Last update: {{ last_update }}.</b></p>
        <p><i>The URL is only temporary and may change anytime soon.</i></p>
    </div>
    
</body>